
@{
    ViewBag.Title = "Reports";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<ul class="list-unstyled">
	<li>
		<a href="/admin/reports/groups-capcodes"><h4>Groups capcodes</h4></a>
		<p>Displays a report for all the capcodes assigned to groups.</p>
	</li>
</ul>

