@model Enivate.ResponseHub.UI.Models.Wallboard.WallboardViewModel

@{
	ViewBag.Title = "Wallboard";
	Layout = "~/Views/Shared/WallboardLayout.cshtml";

	var message = Model.Messages.FirstOrDefault();

}

<h2>
	@if (message.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.Emergency)
	{
		<i id="message-type" class="fa fa-exclamation-triangle p-message-emergency"></i>
	}
	else if (message.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.NonEmergency)
	{
		<i id="message-type" class="fa fa-exclamation-circle p-message-non-emergency"></i>
	}
	else
	{
		<i id="message-type" class="fa fa-info-circle p-message-admin"></i>
	}	
	<span class="job-number">@message.JobNumber</span>
	<small class="job-date pull-right">@message.Timestamp.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")</small>
</h2>

<p class="lead job-message-body">@message.MessageBody</p>

<div id="map-canvas" style="height: 550px;"></div>
<script type="text/javascript">
	var mapConfig = {
		lat: -37.674636,
		lon: 144.434981,
		zoom: 15,
		minZoom: 4,
		scrollWheel: true,
		mapContainer: 'map-canvas',
		loadCallback: null
	};
</script>
