@model Enivate.ResponseHub.UI.Models.Wallboard.WallboardViewModel

<h2>Current Warnings</h2>

<div class="row warning-types">
	<div class="col-xs-12">
		<label class="checkbox-inline">
			<input type="checkbox" id="warnings-bom" value="warnings-bom" checked="checked" onclick="responseHub.wallboard.showHideWarnings('bom-warnings');"> Bureau of Meteorology
		</label>
		<label class="checkbox-inline hidden">
			<input type="checkbox" id="warnings-ses" value="option2" onclick="responseHub.wallboard.showHideWarnings('ses-warnings');"> SES
		</label>
		<label class="checkbox-inline hidden">
			<input type="checkbox" id="warnings-cfa" value="option3" onclick="responseHub.wallboard.showHideWarnings('cfa-warnings');"> CFA
		</label>
	</div>
</div>

@if (ViewBag.LoadWarningsError == true)
{
	<div class="error-summary ">
		Unable to load warning information.
	</div>
}
else
{

	<div class="bom-warnings">

		<p><strong>Bureau of Meteorology</strong></p>
		<ul class="warnings-list list-unstyled">
			<li>No warnings</li>
		</ul>

	</div>

	<div class="ses-warnings hidden">

		<p><strong>Victoria State Emergency Service</strong></p>
		<ul class="warnings-list list-unstyled">
			<li>No warnings</li>
		</ul>

	</div>

	<div class="cfa-warnings hidden">

		<p><strong>Country Fire Authority</strong></p>
		<ul class="warnings-list list-unstyled">
			<li>No warnings</li>
		</ul>

	</div>

}


<h2>Radar</h2>

<div class="radar-container">

	<script language="javascript">
		var radarImages = [
			@for(int i = 0; i < Model.RadarImageFiles.Count; i++)
			{
				@Html.Raw(String.Format("{0}'{1}'", (i == 0 ? "" : ", "), Model.RadarImageFiles[i]))
			}
		];
	</script>

	<div class="radar-image" style="background: url('http://ws.cdn.bom.gov.au/products/radar_transparencies/IDR022.background.png')"></div>
	<div class="radar-image" style="background: url('http://ws.cdn.bom.gov.au/products/radar_transparencies/IDR022.topography.png')"></div>
	<div class="radar-image" style="background: url('http://ws.cdn.bom.gov.au/products/radar_transparencies/IDR022.range.png')"></div>
	<div class="radar-image" style="background: url('http://ws.cdn.bom.gov.au/products/radar_transparencies/IDR022.locations.png')"></div>

</div>