
<h2>Current Warnings</h2>

<div class="row warning-types">
	<div class="col-xs-12">
		<label class="checkbox-inline">
			<input type="checkbox" id="warnings-bom" value="warnings-bom"> Bureau of Meteorology
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="warnings-ses" value="option2"> SES
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="warnings-cfa" value="option3"> CFA
		</label>
	</div>
</div>

<p><strong>Bureau of Meteorology</strong></p>

<p><strong>Victoria State Emergency Service</strong></p>

<p><strong>Country Fire Authority</strong></p>

<h2>Radar</h2>

