@model IEnumerable<Enivate.ResponseHub.UI.Models.Messages.EventJobListViewModel>

@{
    ViewBag.Title = "Current events jobs";
}

<h1>@ViewBag.Title</h1>

@if (Model == null || Model.Count() == 0)
{
	<p class="lead">There are currently no active events to display jobs for.</p>
}

@foreach (var eventObj in Model)
{
	<div class="row">
		<div class="col-sm-12">

			<h3><a href="/events/@eventObj.EventId">@eventObj.EventName</a></h3>
			<p class="text-muted">@eventObj.EventDescription</p>

			@if (eventObj.Jobs == null || eventObj.Jobs.Count == 0)
			{
				<p>There is no jobs currently assigned to this event.</p>
			}
			else
			{
				<ul class="job-list list-unstyled">
					@foreach (var jobMessage in eventObj.Jobs)
					{
						@Html.Partial("~/Views/Jobs/JobListItem.cshtml", jobMessage);
					}
				</ul>
			}


		</div>
	</div>
	
}


