@model Enivate.ResponseHub.UI.Models.Messages.JobMessageListViewModel

@{
	ViewBag.Title = ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "jobs" ? "Jobs" : "Messages";
	ViewBag.JobsOrMessages = ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "jobs" ? "jobs" : "messages";
}

<h1>@ViewBag.Title</h1>


<div class="row">
	<div class="col-sm-12 job-list">

		<ul class="job-list list-unstyled">

			@if (Model.Messages == null || Model.Messages.Count == 0)
			{
				<li class="no-jobs-msg">
					<p class="lead">There are no @ViewBag.JobsOrMessages to display.</p>
				</li>
			}

			@foreach (var message in Model.Messages)
			{
				@Html.Partial("~/Views/Jobs/JobListItem.cshtml", message);
			}

		</ul>

	</div>
</div>
