<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
		<section name="weatherData" type="Enivate.ResponseHub.Common.Configuration.WeatherDataConfigurationSection, ResponseHub.Common" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<unity configSource="Unity.config" />

	<logging logDirectory="./Logs" logLevel="DEBUG" />

	<weatherData radarCacheDirectory="E:\Development\response-hub\src\ResponseHub.UI\App_Data\Cache\BoM" radarCacheDuration="00:30:00" radarFtpLocation="ftp://ftp2.bom.gov.au/anon/gen/radar/" observationLocation="http://www.bom.gov.au/fwo/">
		<location name="Laverton" code="laverton" baseRadarProductId="IDR022" rainRadarProductId="IDR022" windRadarProductId="IDR02I" observationId="IDV60801.94865" />
	</weatherData>

	<appSettings>
		<add key="ServiceName" value="ResponseHub WebTasks" />
		<add key="BoMCacheFilesTimeToLive" value="01:30:00" />
		
		<!-- Interval, in milliseconds, that the bom cache timer will be run with. (Default: 5 minutes) -->
		<add key="BomCacheTimerInterval" value="300000" />
		
		<!-- Interval, in milliseconds, that the event job timer will be run with. (Default: 60 seconds) -->
		<add key="EventMessageTimerInterval" value="60000" />
		
	</appSettings>

	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>