
@{
    ViewBag.Title = "Email resent";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p class="lead">An activation email has been resent to the user.</p>

