<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Google Geocode API Key -->
		<add key="GoogleGeocodeApiKey" value="AIzaSyC5DpXaAvYxx8jteFAJ187Ecw_-LHbQuBQ" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>