/** Import the Bootstrap variables files*/
button:focus,
button:active {
  outline: none !important;
}
body {
  background: #f0f0f0;
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
.top-0 {
  margin-top: 0;
}
.top-5 {
  margin-top: 5px;
}
.top-10 {
  margin-top: 10px;
}
.top-15 {
  margin-top: 15px;
}
.top-20 {
  margin-top: 20px;
}
.bottom-0 {
  margin-bottom: 0;
}
.bottom-5 {
  margin-bottom: 5px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.mobile-block {
  display: block;
}
.dl-horizontal dt {
  text-align: left;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i {
  margin-right: 10px;
}
@media (max-width: 768px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .text-xs-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .mobile-block {
    display: inline;
  }
}
table {
  border-bottom: 1px solid #ddd;
}
.table-small {
  font-size: 10px;
}
.btn-icon i {
  margin-right: 6px;
}
.btn-action-icon {
  font-size: 16px;
}
.btn-spacer {
  margin-right: 30px;
}
.btn-link-cta {
  font-weight: bold;
}
.btn-link-delete {
  color: #a94442;
  padding-left: 0;
  margin-left: 0;
  border-left-width: 0;
}
.btn-link-delete:hover {
  color: #a94442;
}
.cursor-pointer {
  cursor: pointer;
}
.text-warning {
  color: #CF7D2F;
}
@media (max-width: 768px) {
  .title-row a.pull-right {
    float: left !important;
    padding-left: 0;
  }
}
/*
	Top navbar styles
*/
.page-navbar {
  background-color: #37474f;
  border-bottom: 1px solid #4b5960;
  color: #fafafa;
}
.page-navbar a:hover,
.page-navbar button:hover {
  text-decoration: none;
}
.page-navbar .navbar-brand,
.page-navbar .btn-link {
  color: #fafafa;
}
.page-navbar .navbar-brand:hover,
.page-navbar .btn-link:hover,
.page-navbar .navbar-brand:focus,
.page-navbar .btn-link:focus {
  color: #9cddd7;
}
.page-navbar .navbar-collapse {
  border-color: #4b5960;
}
.page-navbar .navbar-right {
  margin-right: 80px;
}
.page-navbar .navbar-right a i {
  margin-right: 8px;
}
.page-navbar.navbar-default .navbar-nav > li > a {
  color: #63c9c0;
}
.page-navbar.navbar-default .navbar-nav > li > a:hover {
  color: #9cddd7;
}
.page-navbar .btn-search-toggle {
  display: none;
}
.page-navbar > .container-fluid > .navbar-header {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .page-navbar > .container-fluid > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
  .page-navbar > .container-fluid > .navbar-header a.navbar-brand {
    margin-left: 0;
  }
}
/* 
	User Menu / Search form Styles
*/
.header-right-container {
  position: absolute;
  right: 0px;
}
.header-right-container .user-menu {
  float: right;
  padding: 0;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 8px;
  color: #333;
}
.header-right-container .user-menu .dropdown-toggle {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 15px;
}
.header-right-container .user-menu .dropdown-toggle i {
  padding-right: 0;
}
.header-right-container .user-menu .first-name {
  display: none;
}
.header-right-container .user-menu .dropdown-menu {
  min-width: 260px;
  margin-top: 3px;
  border-radius: 0;
}
.header-right-container .user-menu .dropdown-menu a {
  font-size: 13px;
  padding: 5px 15px;
}
.header-right-container .user-menu .dropdown-menu span {
  display: inline-block;
  padding: 0 15px;
}
.header-right-container .user-menu .dropdown-menu .lead {
  margin-bottom: 0;
}
.header-right-container .user-menu .dropdown-menu i {
  color: #e2c498;
  padding-top: 3px;
}
@media (min-width: 768px) {
  .header-right-container .user-menu {
    margin-top: 8px;
  }
  .header-right-container .user-menu .dropdown-toggle {
    font-size: 1em;
    margin-top: 0;
  }
  .header-right-container .user-menu .dropdown-toggle i {
    padding-right: 6px;
  }
  .header-right-container .user-menu .dropdown-menu {
    margin-top: 8px;
  }
  .header-right-container .user-menu .first-name {
    display: inline;
  }
}
@media screen and (max-width: 768px) {
  .header-right-container .user-menu {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-right-container .btn-search-toggle {
    position: absolute;
    right: 65px;
    top: 10px;
    padding: 0;
    font-size: 20px;
    display: block;
  }
  .header-right-container .navbar-form {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-top-width: 0;
    border-bottom-width: 0;
    position: relative;
    clear: both;
    margin-right: 0;
    margin-left: 0;
    display: none;
    margin-top: 50px;
    background-color: #37474f;
  }
}
@media screen and (max-width: 768px) {
  body.search-bar-visible {
    padding-top: 100px;
  }
}
/*
	Sidebar styles
*/
.sidebar {
  display: none;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 18px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #202b30;
  border-right: 1px solid #eee;
  color: #808080;
}
.sidebar p.explore {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}
.sidebar .nav-sidebar {
  margin-right: -18px;
  margin-left: -18px;
}
.sidebar .nav > li.active {
  background-color: #161d21;
}
.sidebar .nav > li.active a i {
  color: #d7ad70;
}
.sidebar .nav > li.active a:hover i,
.sidebar .nav > li.active a:focus i {
  color: #e2c498;
}
.sidebar .nav > li.muted-nav {
  background-color: #263339;
  border-top: 1px solid #1c262a;
  border-bottom: 1px solid #1c262a;
}
.sidebar .nav > li.muted-nav i {
  color: #d7ad70;
}
.sidebar .nav > li > a {
  color: #c8c5ba;
}
.sidebar .nav > li > a i {
  color: #e2c498;
  padding-right: 30px;
  font-size: 1.2em;
  vertical-align: bottom;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  background-color: #1a2327;
}
.sidebar .nav > li > ul {
  list-style-type: none;
  padding-left: 45px;
  background-color: #263339;
  padding-top: 5px;
}
.sidebar .nav > li > ul li {
  padding: 0 0 7px;
}
.sidebar .nav > li > ul li a {
  color: #dfddd6;
}
.sidebar .nav > li > ul li a:hover {
  color: #c8c5ba;
  text-decoration: none;
}
/* Expanded sidebar */
.btn-sidebar-toggle {
  display: none;
}
.btn-header-toggle {
  margin-top: 8px;
  margin-left: 15px;
  color: #e2c498;
  background-color: #37474f;
  border: 1px solid #37474f;
  float: left;
  padding: 3px 0;
  font-size: 20px;
}
.btn-header-toggle.header-dropdown {
  float: right;
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 0;
}
.btn-header-toggle.header-dropdown:hover {
  color: #9cddd7;
}
.btn-header-toggle:hover {
  color: #d7ad70;
}
@media (min-width: 992px) {
  .btn-header-toggle.header-dropdown {
    display: none;
  }
  .sidebar {
    display: block;
  }
}
@media (max-width: 992px) {
  .navbar-brand {
    padding-left: 10px;
  }
  .btn-sidebar-toggle {
    display: inline-block;
  }
  body.sidebar-expanded {
    overflow-x: hidden;
  }
  .sidebar.sidebar-expanded {
    width: 270px;
    display: block;
  }
  .sidebar.sidebar-expanded footer {
    width: 270px;
  }
  .main-content.sidebar-expanded {
    width: 730px;
    margin-left: 270px;
  }
}
@media (max-width: 769px) {
  .main-content.sidebar-expanded {
    width: 530px;
  }
}
.nav-sidebar a i {
  padding-right: 12px;
}
.icon-link i {
  padding-right: 6px;
}
footer {
  position: fixed;
  bottom: 0;
  z-index: 1200;
  border-top: 1px solid #4b5960;
  background: #37474f;
  color: #efefef;
  width: 25%;
  font-size: 12px;
  padding-top: 5px;
  margin-left: -20px;
  padding-left: 18px;
}
footer p {
  margin-bottom: 6px;
}
@media (min-width: 1200px) {
  footer {
    width: 16.66666667%;
  }
}
.breadcrumb-select-group {
  margin-top: 13px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 6px 6px;
  background-color: #fff;
  float: right;
}
.breadcrumb-select-group:hover {
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
}
@media (max-width: 992px) {
  .breadcrumb-select-group {
    display: none;
  }
}
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #f0f0f0;
  padding-left: 0;
}
.breadcrumb li.home a {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 6px;
  background-color: #fff;
  font-size: 16px;
}
.main-content {
  padding-bottom: 50px;
}
.content-container {
  padding: 0 20px;
  background: #fff;
  margin-top: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/*
	Page content styles
*/
.border-top {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
.warning-summary,
.error-summary,
.success-summary,
.section-help {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 12px;
  margin: 15px 0 0;
  position: relative;
  border: 1px solid #d32626;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 13px;
}
.section-help {
  color: #253544;
  background-color: #fbfade;
  border: 1px solid #496886;
}
/*
	Form Styles
*/
form {
  padding-bottom: 20px;
}
h2.legend,
h3.legend,
h4.legend {
  margin-top: 30px;
  border-top: 1px solid #e2c498;
  padding-top: 10px;
}
.form-group label {
  font-weight: normal;
}
.form-control {
  border-radius: 2px;
  border-color: #ddd;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
}
.icon-info {
  padding-left: 20px;
  font-size: 13px;
  position: relative;
}
.icon-info i {
  position: absolute;
  display: block;
  left: 0;
  top: 3px;
}
.field-validation-error {
  color: #de3226;
  padding: 2px 3px;
  display: block;
}
.form-error,
.validation-summary-errors {
  color: #de3226;
  padding: 2px 3px;
  display: block;
  border: 1px solid #de3226;
  background-color: #fef7f6;
  margin: 20px 0;
  border-radius: 2px;
}
.form-error ul,
.validation-summary-errors ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.validation-summary-errors {
  padding: 10px;
}
.input-validation-error {
  border-color: #de3226;
  background-color: #fef7f6;
}
.input-validation-error:focus,
.input-validation-error:active {
  background-color: #fff;
  border-color: #de3226;
}
.current-location-spinner {
  margin-left: 10px;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
input.disabled,
input[disabled],
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: default;
}
.bootstrap-select .btn.dropdown-toggle {
  border-radius: 2px;
  border-color: #ddd;
  background-color: #fff;
  line-height: 1.42857143;
  color: #555;
}
.bootstrap-select .btn.dropdown-toggle:focus,
.bootstrap-select .btn.dropdown-toggle:hover {
  box-shadow: none;
  border-color: #bbb;
  background-color: #fff;
  line-height: 1.42857143;
  color: #555;
}
td .radio,
td .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
/* Value edit controls */
.val-edit .val-edit-input {
  position: relative;
}
.val-edit .val-edit-input .val-edit-controls {
  position: absolute;
  right: 0;
  top: 0;
}
.graphic-radio .radio-inline + .radio-inline,
.graphic-checkbox .radio-inline + .radio-inline,
.graphic-radio .checkbox-inline + .checkbox-inline,
.graphic-checkbox .checkbox-inline + .checkbox-inline {
  margin-left: 15px;
}
.graphic-radio label,
.graphic-checkbox label {
  padding-left: 0;
}
.graphic-radio label input[type="radio"],
.graphic-checkbox label input[type="radio"],
.graphic-radio label input[type="checkbox"],
.graphic-checkbox label input[type="checkbox"] {
  position: absolute;
  left: -99999px;
}
.graphic-radio label i,
.graphic-checkbox label i {
  font-size: 1.25em;
}
.graphic-radio label span,
.graphic-checkbox label span {
  font-size: 1.1em;
  padding-left: 5px;
}
.graphic-radio label input[type="radio"] ~ i.fa.fa-circle-o,
.graphic-checkbox label input[type="radio"] ~ i.fa.fa-circle-o {
  color: #c8c8c8;
  display: inline;
}
.graphic-radio label input[type="radio"] ~ i.fa.fa-dot-circle-o,
.graphic-checkbox label input[type="radio"] ~ i.fa.fa-dot-circle-o {
  display: none;
}
.graphic-radio label input[type="radio"]:checked ~ i.fa.fa-circle-o,
.graphic-checkbox label input[type="radio"]:checked ~ i.fa.fa-circle-o {
  display: none;
}
.graphic-radio label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o,
.graphic-checkbox label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
  color: #7b74a8;
  display: inline;
}
.graphic-radio label:hover input[type="radio"] ~ i.fa,
.graphic-checkbox label:hover input[type="radio"] ~ i.fa {
  color: #7b74a8;
}
.graphic-radio label input[type="checkbox"] ~ i.fa.fa-square-o,
.graphic-checkbox label input[type="checkbox"] ~ i.fa.fa-square-o {
  color: #c8c8c8;
  display: inline;
}
.graphic-radio label input[type="checkbox"] ~ i.fa.fa-check-square-o,
.graphic-checkbox label input[type="checkbox"] ~ i.fa.fa-check-square-o {
  display: none;
}
.graphic-radio label input[type="checkbox"]:checked ~ i.fa.fa-square-o,
.graphic-checkbox label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
  display: none;
}
.graphic-radio label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o,
.graphic-checkbox label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
  color: #7b74a8;
  display: inline;
}
.graphic-radio label:hover input[type="checkbox"] ~ i.fa,
.graphic-checkbox label:hover input[type="checkbox"] ~ i.fa {
  color: #7b74a8;
}
.graphic-radio.graphic-buttons label.active,
.graphic-checkbox.graphic-buttons label.active {
  color: #7b74a8;
}
.graphic-radio.graphic-buttons label,
.graphic-checkbox.graphic-buttons label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.graphic-radio.graphic-buttons label:hover,
.graphic-checkbox.graphic-buttons label:hover {
  color: #7AA3CC;
}
.graphic-radio.graphic-buttons label:active,
.graphic-checkbox.graphic-buttons label:active,
.graphic-radio.graphic-buttons label.active,
.graphic-checkbox.graphic-buttons label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.datepicker-dropdown {
  z-index: 10000;
}
/*
	Login styles
*/
.login-layout {
  background-color: #f0f0f0;
  color: #333;
}
.login-container {
  max-width: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.login-container h1 {
  text-align: center;
  color: #FF862F;
}
.login-container h1 a {
  color: #FF862F;
}
.login-container h1 a:hover {
  text-decoration: none;
  color: #e25e00;
}
.login-container h2 {
  font-size: 26px;
  color: #202b30;
}
.login-container .form-container {
  margin-top: 30px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  padding: 15px 20px 20px;
  border-radius: 2px;
}
.login-container #fb-login {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .login-container {
    width: auto;
  }
}
/*
	Job Messages Classes
*/
#job-title-banner {
  color: #fff;
}
#job-title-banner .rescue {
  background-color: #1C60B2;
}
#job-title-banner .storm {
  background-color: #00B226;
}
#job-title-banner .assist-agency {
  background-color: #E82C0C;
}
#job-title-banner h2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 769px) {
  #job-title-banner div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #job-title-banner div h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.progress-action {
  margin-bottom: 15px;
}
#job-notes ul li {
  border-left: 3px solid #D6E3E0;
  border-top: 1px solid #e5edeb;
  border-right: 1px solid #e5edeb;
  border-bottom: 1px solid #e5edeb;
  background-color: #fafafa;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
#job-notes ul li small {
  padding-bottom: 4px;
  color: #999;
  display: block;
}
#job-notes ul li .wordback-icon,
#job-notes ul li .user-icon {
  padding-left: 10px;
}
.job-list h3 i {
  margin-right: 1px;
  text-align: left;
}
.job-list .job-message-meta {
  /*text-transform: uppercase; */
  font-style: italic;
  margin-bottom: 0;
  font-size: 17px;
}
.job-list .job-message-meta i {
  padding-right: 19px;
}
.job-list .capcode-group-name {
  margin-bottom: 5px;
}
.job-list .message-date {
  font-style: italic;
  font-size: 18px;
  white-space: nowrap;
}
i.p-message-emergency {
  color: #b60500;
}
i.p-message-non-emergency {
  color: #e28405;
}
i.p-message-admin {
  color: #143599;
}
/**
	Wallboard styles
*/
.wallboard-layout .navbar-header,
.weather-centre-layout .navbar-header {
  width: 200px !important;
  float: left;
}
.wallboard-layout .page-navbar .navbar-right,
.weather-centre-layout .page-navbar .navbar-right {
  margin: 0;
}
.wallboard-layout .wallboard-sidebar,
.weather-centre-layout .wallboard-sidebar {
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
}
.wallboard-layout .wallboard-main h2 i,
.weather-centre-layout .wallboard-main h2 i {
  padding-right: 10px;
}
@media (max-width: 768px) {
  .wallboard-layout .navbar-nav,
  .weather-centre-layout .navbar-nav {
    float: right !important;
  }
  .wallboard-layout .navbar-nav li,
  .weather-centre-layout .navbar-nav li {
    float: left;
  }
  .wallboard-layout .page-navbar .navbar-right,
  .weather-centre-layout .page-navbar .navbar-right {
    margin: 5px 0 0 0;
  }
}
.wallboard-layout .message-list-options {
  padding-top: 5px;
}
.wallboard-layout .message-list {
  background: #fff;
}
.wallboard-layout .message-list li {
  cursor: pointer;
}
.wallboard-layout .message-list li.selected,
.wallboard-layout .message-list li:hover {
  background-color: #f3f5f9;
}
.wallboard-layout .message-list li .no-jobs {
  padding-left: 15px;
  padding-right: 15px;
}
.wallboard-layout .message-list .message {
  clear: both;
  position: relative;
  padding: 0 15px 15px;
  border-bottom: 1px solid #c8c5ba;
  margin-bottom: 0;
}
.wallboard-layout .message-list .message h2,
.wallboard-layout .message-list .message h3 {
  margin-top: 0;
}
.wallboard-layout .message-list .message i {
  padding-right: 5px;
}
.wallboard-layout .message-list .message .job-status i {
  padding-right: 0;
  float: right;
  color: #999;
}
.wallboard-layout .message-list .message .job-status.job-clear i {
  color: #64B752;
}
.wallboard-layout .message-list .message .job-status.on-scene i {
  color: #476890;
}
.wallboard-layout .message-list .message .job-status.on-route i {
  color: #DC9A63;
}
.wallboard-layout .message-list .message .job-status.job-cancelled i {
  color: #AA3939;
}
.wallboard-layout .message-list .message .has-notes {
  float: right;
  padding-right: 5px;
}
.wallboard-layout .message-list .message-meta {
  padding: 0 15px;
}
.wallboard-layout .message-list .message-meta .group-heading {
  float: left;
}
.wallboard-layout .message-list .message-meta .message-date {
  float: right;
  padding-top: 10px;
}
.wallboard-layout .wallboard-main .job-date {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 22px;
  color: #31708f;
}
.wallboard-layout .wallboard-main .job-status {
  font-size: 16px;
  font-weight: bold;
  color: #747474;
}
.wallboard-layout .wallboard-main .job-status i {
  padding-right: 10px;
  color: #999;
}
.wallboard-layout .wallboard-main .job-status .job-clear i {
  color: #64B752;
}
.wallboard-layout .wallboard-main .job-status .on-scene i {
  color: #476890;
}
.wallboard-layout .wallboard-main .job-status .on-route i {
  color: #DC9A63;
}
.wallboard-layout .wallboard-main .job-status .job-cancelled i {
  color: #AA3939;
}
.wallboard-layout #map {
  height: 600px;
}
.wallboard-layout .job-notes-container {
  height: 250px;
}
.wallboard-layout ul.job-notes li {
  border-left: 3px solid #D6E3E0;
  border-top: 1px solid #e5edeb;
  border-right: 1px solid #e5edeb;
  border-bottom: 1px solid #e5edeb;
  background-color: #fff;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.wallboard-layout ul.job-notes li.no-notes-msg {
  border-width: 0;
  padding: 0;
  background-color: #fafafa;
}
.wallboard-layout ul.job-notes li small {
  padding-bottom: 4px;
  color: #999;
  display: block;
}
.wallboard-layout ul.job-notes li small .wordback-icon,
.wallboard-layout ul.job-notes li small .user-icon {
  padding-left: 10px;
}
.weather-centre-layout .wallboard-warnings {
  background-color: #fff;
  border-left: 1px solid #ccc;
}
.weather-centre-layout .warning-types {
  margin-bottom: 10px;
}
.weather-centre-layout .radar-container {
  position: relative;
  width: 512px;
  height: 512px;
}
.weather-centre-layout .radar-container .radar-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 512px;
  height: 512px;
}
.weather-centre-layout .radar-image-preload {
  display: none;
}
.weather-centre-layout .radar-loading {
  margin-top: 10px;
}
/***
 * Password Strength
**/
.password-strength {
  clear: both;
  width: 250px;
  margin: 10px 0;
}
.password-strength .strength-bar {
  height: 10px;
  width: 70px;
  margin-right: 7px;
  background-color: #ddd;
  border: 1px solid #ccc;
  float: left;
  border-radius: 2px;
}
.password-strength.weak .strength-bar.first {
  background-color: #ea2d43;
  border-color: #821a26;
}
.password-strength.medium .strength-bar.first,
.password-strength.medium .strength-bar.second {
  background-color: #fae388;
  border-color: #fad43c;
}
.password-strength.strong .strength-bar.first,
.password-strength.strong .strength-bar.second,
.password-strength.strong .strength-bar.third {
  background-color: #05c463;
  border-color: #26a880;
}
/**
	ADMIN - Create Group Styles
*/
@media (min-width: 992px) {
  .hq-location-buttons span {
    margin-left: 15px;
    margin-right: 15px;
  }
  .hq-location-buttons .visible-md,
  .hq-location-buttons .visible-lg {
    display: inline-block !important;
  }
}
@media (max-width: 768px) {
  .latitude-control {
    margin-top: 15px;
  }
}
.search-group-form {
  margin-top: 20px;
}
/**
	View Group Page styles
*/
.group-hq-map {
  position: relative;
  width: 350px;
  height: 200px;
}
.group-hq-map img {
  position: absolute;
  top: 0;
  left: 0;
}
.group-hq-map span {
  display: block;
  position: absolute;
  left: 148px;
  top: 60px;
  color: #FF862F;
}
/**
 * Capcodes
*/
.capcode-list-tags {
  margin-top: 20px;
  border: 1px solid #c8c5ba;
  background-color: #f0f0f0;
  padding: 10px 10px 0;
}
.capcode-list-tags .label {
  padding: 5px 8px;
  font-size: 90%;
  font-weight: normal;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.capcode-list-tags .label a {
  color: #fff;
  cursor: pointer;
  padding-left: 6px;
}
/**
 * Scrollator
*/
.scrollator_handle {
  background-color: rgba(64, 64, 64, 0.5);
}
/**
 * Filters
 */
.filter-container {
  background-color: #fbfbfb;
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.toggle-header a {
  font-size: 40px;
  margin-top: -11px;
  padding-right: 20px;
  color: #888;
  text-decoration: none;
}
.toggle-header a:hover {
  text-decoration: none;
}
.toggle-header a:visited {
  text-decoration: none;
}
.form-loader {
  margin-left: 15px;
  font-size: 20px;
}
/**
 * All pages list
 */
#all-pages-list .message-content {
  word-break: break-all;
}
/**
 * Dropzone styles
*/
#dropzone-attachments {
  min-height: 50px;
  border: 2px dashed #ccc;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.attachment-list {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
.attachment-list li {
  padding: 7px 0px;
  border-bottom: 1px solid #ccc;
}
.attachment-list li:hover {
  background-color: #fafafa;
}
.attachment-list li.no-attachments-msg {
  border-bottom-width: 0;
}
.attachment-list li.no-attachments-msg:hover {
  background-color: #fff;
}
#links div {
  margin-bottom: 15px;
}
#links div a {
  display: block;
}
#links div a img {
  width: 100%;
  max-height: 125px;
}
@media (max-width: 768px) {
  #links div {
    width: 200px;
    float: left;
  }
}
@media (max-width: 440px) {
  #links div {
    width: 100%;
  }
}
#attachment-preload,
#attachment-preload img {
  display: none;
  position: absolute;
  left: -99999px;
  top: -99999px;
}
/**
 * Filters
 */
.filter-container {
  padding-top: 20px;
  background-color: #fbfbfb;
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
/**
 * Data Export PDF
 */
body.pdf-export {
  background-color: #fff;
  font-size: 12px;
  padding-top: 0;
}
div.generated-report table {
  font-size: 12px;
}
div.generated-report table td {
  padding: 6px 4px;
  line-height: 1.1;
}
div.generated-report table th {
  padding: 6px 4px;
}
div.generated-report table.results-overview .job-number {
  width: 110px;
}
div.generated-report table.results-overview .date-time {
  width: 150px;
}
div.generated-report .job-progress-table thead th {
  border-bottom: 0px;
}
div.generated-report .job-progress-table td {
  border-top: 0px;
}
div.generated-report .job-progress-table .on-route {
  padding-left: 0;
}
div.generated-report .job-progress-table h4 {
  margin-bottom: 0;
}
div.generated-report .message-map-image {
  position: relative;
  width: 900px;
  height: 300px;
}
div.generated-report .message-map-image img {
  position: absolute;
  top: 0;
  left: 0;
}
div.generated-report .message-map-image span {
  display: block;
  position: absolute;
  left: 426px;
  top: 102px;
}
div.generated-report .notes li {
  border-left: 3px solid #D6E3E0;
  border-top: 1px solid #e5edeb;
  border-right: 1px solid #e5edeb;
  border-bottom: 1px solid #e5edeb;
  background-color: #fafafa;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
div.generated-report .notes li .wordback-icon {
  margin-left: 5px;
}
/**
	Sign on functionality
*/
.sign-on-operation div.radio {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.sign-out-row {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
}
.sign-out-row:last-child {
  margin-bottom: 20px;
}
.sign-out-row .lead {
  margin-bottom: 5px;
}
/**
	Charts
*/
.ct-label {
  font-size: 12px;
  color: #878787;
  font-family: 'Ubuntu', sans-serif;
}
.ct-bar {
  stroke-width: 20px;
}
.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
  stroke: #67001f;
}
.ct-series-a .ct-slice-pie,
.ct-series-a .ct-area {
  fill: #67001f;
}
.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
  stroke: #b2182b;
}
.ct-series-b .ct-slice-pie,
.ct-series-b .ct-area {
  fill: #b2182b;
}
.ct-series-c .ct-point,
.ct-series-c .ct-line,
.ct-series-c .ct-bar,
.ct-series-c .ct-slice-donut {
  stroke: #d6604d;
}
.ct-series-c .ct-slice-pie,
.ct-series-c .ct-area {
  fill: #d6604d;
}
.ct-series-d .ct-point,
.ct-series-d .ct-line,
.ct-series-d .ct-bar,
.ct-series-d .ct-slice-donut {
  stroke: #f4a582;
}
.ct-series-d .ct-slice-pie,
.ct-series-d .ct-area {
  fill: #f4a582;
}
.ct-series-e .ct-point,
.ct-series-e .ct-line,
.ct-series-e .ct-bar,
.ct-series-e .ct-slice-donut {
  stroke: #fddbc7;
}
.ct-series-e .ct-slice-pie,
.ct-series-e .ct-area {
  fill: #fddbc7;
}
.ct-series-f .ct-point,
.ct-series-f .ct-line,
.ct-series-f .ct-bar,
.ct-series-f .ct-slice-donut {
  stroke: #d1e5f0;
}
.ct-series-f .ct-slice-pie,
.ct-series-f .ct-area {
  fill: #d1e5f0;
}
.ct-series-g .ct-point,
.ct-series-g .ct-line,
.ct-series-g .ct-bar,
.ct-series-g .ct-slice-donut {
  stroke: #92c5de;
}
.ct-series-g .ct-slice-pie,
.ct-series-g .ct-area {
  fill: #92c5de;
}
.ct-series-h .ct-point,
.ct-series-h .ct-line,
.ct-series-h .ct-bar,
.ct-series-h .ct-slice-donut {
  stroke: #4393c3;
}
.ct-series-h .ct-slice-pie,
.ct-series-h .ct-area {
  fill: #4393c3;
}
.ct-series-i .ct-point,
.ct-series-i .ct-line,
.ct-series-i .ct-bar,
.ct-series-i .ct-slice-donut {
  stroke: #2166ac;
}
.ct-series-i .ct-slice-pie,
.ct-series-i .ct-area {
  fill: #2166ac;
}
.ct-series-j .ct-point,
.ct-series-j .ct-line,
.ct-series-j .ct-bar,
.ct-series-j .ct-slice-donut {
  stroke: #053061;
}
.ct-series-j .ct-slice-pie,
.ct-series-j .ct-area {
  fill: #053061;
}
/*
	Alert link fixes
*/
.alert a {
  text-decoration: underline;
}
.alert a:hover {
  text-decoration: none;
}
.alert-warning a {
  color: #ae894a;
}
.alert-warning a:hover {
  color: #8a6d3b;
}
.alert-danger a {
  color: #c0605e;
}
.alert-danger a:hover {
  color: #a94442;
}
.alert-success a {
  color: #4d984e;
}
.alert-success a:hover {
  color: #3c763d;
}
.alert-info a {
  color: #3e8eb5;
}
.alert-info a:hover {
  color: #31708f;
}
/**
 * Mixins
 */
