@model IList<Enivate.ResponseHub.Model.Groups.Group>

@{
    ViewBag.Title = "Groups";
}

<h1>Groups</h1>

<a href="/admin/groups/create" class="btn btn-primary btn-icon btn-lg top-10"><i class="fa fa-plus"></i> Create group</a>

<div class="search-group-form">
	<h4>Search groups</h4>
	<form class="form-inline" method="get" action="/admin/groups">
		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search keywords..." name="q" id="GroupSearch" value="@Request.QueryString["q"]">
					<span class="input-group-btn">
						<button class="btn btn-default btn-icon" type="submit"><i class="fa fa-search"></i>Search</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Service</th>
			<th>Created</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null || Model.Count == 0)
		{
			<tr>
				<td colspan="4">No groups found.</td>
			</tr>
		}
		@foreach(var group in Model)
		{
			<tr>
				<td><a href="/admin/groups/@group.Id"><strong>@group.Name</strong></a></td>
				<td>@Html.EnumDescription(group.Service)</td>
				<td>@group.Created.ToString("yyyy-MM-dd")</td>
				<td><a href="/admin/groups/@group.Id/edit" class="btn btn-link"><i class="fa fa-pencil-square-o"></i></a><a data-href="/admin/group/@group.Id/delete" class="btn btn-link"><i class="fa fa-times"></i></a></td>
			</tr>
		}
	</tbody>
</table>