@model Enivate.ResponseHub.UI.Areas.Admin.Models.Groups.SingleGroupViewModel
@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<div class="service">@Model.Service</div>

<div class="row">
	<div class="col-sm-12">@Model.Description</div>
</div>

<h3>Members</h3>