<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Response Hub Administration</title>

	<link rel="stylesheet" href="~/assets/css/framework.css" />
	<link rel="stylesheet" href="~/assets/css/response-hub.css" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body class="admin-layout">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Response Hub</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
		
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">

				<ul class="nav nav-sidebar">
					<li>
						<a href="/admin/groups"><i class="fa fa-users"></i>Groups</a>
					</li>
				</ul>

			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main-content">
				
				@RenderBody()

			</div>
		</div>

    </div>

	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<p>&copy; @DateTime.Now.Year - Response Hub</p>
				</div>
			</div>
		</div>
	</footer>

	<script language="javascript" src="~/assets/js/framework.js"></script>
	<script language="javascript" src="~/assets/js/script.js"></script>

</body>
</html>