<p class="explore">Explore</p>

<ul class="nav nav-sidebar">
	<li>
		<a href="/admin/groups"><i class="fa fa-fw fa-users"></i>Groups</a>
	</li>
	<li>
		<a href="/admin/users"><i class="fa fa-fw fa-user"></i>Users</a>
	</li>
	<li>
		<a href="/admin/messages"><i class="fa fa-fw fa-newspaper-o"></i>Messages</a>
	</li>
	<li>
		<a href="/admin/messages"><i class="fa fa-fw fa-cogs"></i>System Settings</a>
	</li>
</ul>