
@{
    ViewBag.Title = "Something went kaput!";
    Layout = "~/Views/Shared/UnauthenticatedSingleColumn.cshtml";
}

<h1 class="text-center">@ViewBag.Title</h1>

<p class="lead text-center">Sorry, but there was an error with the server processing the page.</p>

<p class="error-page-grpahic">
	<i class="fa fa-exclamation-triangle text-primary"></i>
</p>

<p class="text-center">Detailed logs of this have been recorded to help determine what happened.</p>
