<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<logging logDirectory=".logs" logLevel="DEBUG" />
	
	<appSettings>

		<add key="PDWLogDirectory" value="E:\pdw-logs" />
		<add key="LastMessageFile" value=".\last-message" />

		<add key="ResponseHubService.Url" value="http://dev.responsehub.com.au/api/job-messages/bulk"/>
		<add key="ResponseHubService.ApiKey" value="192122ca1c5e46e64f2fa6a9146224bef5148e9f2994a30f5975d1b398f9b327" />
		
	</appSettings>
	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>