<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<unity configSource="Unity.config" />
	
	<logging logDirectory="E:\Development\response-hub\src\PagerDecoding\ResponseHub.PagerDecoder.ConsoleRunner\bin\Debug\logs" logLevel="INFO" />
	
	<appSettings>

		<add key="PDWLogDirectory" value="E:\pdw-logs" />
		<add key="LastMessageFile" value="E:\Development\response-hub\src\PagerDecoding\ResponseHub.PagerDecoder.ConsoleRunner\bin\Debug\last-message" />

		<add key="ResponseHubService.Url" value="http://dev.responsehub.com.au/api/job-messages/" />
		<add key="ResponseHubService.ApiKey" value="192122ca1c5e46e64f2fa6a9146224bef5148e9f2994a30f5975d1b398f9b327" />
		
	</appSettings>
	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="justinmckay@responsehub.com.au">
				<network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="justinmckay@responsehub.com.au" password="log68Mod^" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>