<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<unity configSource="Unity.config" />
	
	<logging logDirectory="E:\Development\response-hub\src\PagerDecoding\ResponseHub.PagerDecoder.ConsoleRunner\bin\Debug\logs" logLevel="INFO" />
	
	<appSettings>

		<add key="PDWLogDirectory" value="C:\pdw-logs" />
		<add key="LastMessageFile" value="C:\Development\response-hub\src\PagerDecoding\ResponseHub.PagerDecoder.ConsoleRunner\bin\Debug\last-message" />

		<!-- Mazzanet website URLS -->
		<add key="Mazzanet.CfaUrl" value="https://au1.mazzanet.net.au/cfa/pager-cfa-all.php" />
		<add key="Mazzanet.SesUrl" value="https://au1.mazzanet.net.au/cfa/pager-ses-all.php" />

		<!-- Google Geocode API Key -->
		<add key="GoogleGeocodeApiKey" value="AIzaSyC5DpXaAvYxx8jteFAJ187Ecw_-LHbQuBQ" />
		
	</appSettings>
	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="justinmckay@responsehub.com.au">
				<network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="justinmckay@responsehub.com.au" password="log68Mod^" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>