@{
	ViewBag.Title = "Check your email";
	Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="form-container">

	<h2>@ViewBag.Title</h2>

	<p>An email has been sent to your account with instructions on how to reset your password. Please follow the instructions in the email to finish resetting your account password.</p>
	
</div>