@model Enivate.ResponseHub.UI.Models.MyAccount.AccountDetailsViewModel

@{
    ViewBag.Title = "My account";
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-xs-12">
		<p>
			<strong>Email address:</strong><br />
			@Model.EmailAddress
		</p>
		<p>
			<strong>Name</strong><br />
			@Model.FirstName @Model.Surname
		</p>
		<p>
			<a href="/my-account/update" class="btn btn-primary btn-icon"><i class="fa fa-fw fa-pencil-square-o"></i>Update account</a>
		</p>
	</div>
</div>
