@{
	ViewBag.Title = "Invalid reset token";
	Layout = "~/Views/Shared/UnauthenticatedSingleColumn.cshtml";
}

<div class="form-container">

	<h2>@ViewBag.Title</h2>

	<p class="text-danger"><strong>The reset password token is either invalid or has expired.</strong></p>

</div>