@{
	ViewBag.Title = "Password reset";
	Layout = "~/Views/Shared/UnauthenticatedSingleColumn.cshtml";
}

<div class="form-container">

	<h2>@ViewBag.Title</h2>

	<p>
		<strong>Your account password has been successfully reset.</strong><br />
		Please use your new account password to login to your account.
	</p>

	<p><a href="/my-account/login">Login to ResponseHub</a></p>

</div>