<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
		<section name="mailTemplates" type="Enivate.ResponseHub.Mail.Configuration.MailTemplatesConfigurationSection, ResponseHub.Mail" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	
	<unity configSource="Unity.config" />
	
	<logging logDirectory="#{pager_decoder.path}\logs" logLevel="INFO" />

	<mailTemplates templatesDir="#{pager_decoder.path}" defaultTo="ResponseHub [info@responsehub.com.au]" defaultFrom="ResponseHub [info@responsehub.com.au]">
		<mailTemplate name="InvalidMessageWarning" subject="ResponseHub - Invalid messages warning" baseTemplateFile="base_template.html" templateFile="invalid_message_warning.html" to="juzzbott@gmail.com" />
	</mailTemplates>
	
	<appSettings>
		<!-- Interval, in milliseconds, that the message timer will be run with. (Default: 10 seconds) -->
		<add key="ServiceTimerInterval" value="10000" />
		<!-- Interval, in milliseconds, that the cleanup timer will be run with. (Default: 24 hours) -->
		<add key="CleanupTimerInterval" value="86400000" />
		<!-- Interval, in milliseconds, that the invalid messages timer will be run with. (Default: 1 hour) -->
		<add key="InvalidMessagesTimerInterval" value="3600000" />

		<!-- The threshold amount of messages to detect in an hour before an email warning is sent.-->
		<add key="InvalidMessageThreshold" value="10" />

		<!-- Mazzanet website URLS -->
		<add key="Mazzanet.CfaUrl" value="https://au1.mazzanet.net.au/cfa/pager-cfa-all.php" />
		<add key="Mazzanet.SesUrl" value="https://au1.mazzanet.net.au/cfa/pager-ses-all.php" />

		<!-- Determines which pager message source to use. Values are either 'web' or 'pdw' -->
		<add key="PagerMessageSource" value="web" />

		<!-- Google Geocode API Key -->
		<add key="GoogleGeocodeApiKey" value="AIzaSyC5DpXaAvYxx8jteFAJ187Ecw_-LHbQuBQ" />

		<add key="PDWLogDirectory" value="D:\SDR\pdw3.12-full\Logfiles" />
		<add key="LastMessageFile" value="#{pager_decoder.path}\last-message" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="ServiceName" value="ResponseHubTest" />
	</appSettings>

	<connectionStrings>
		<add name="MongoServer" connectionString="#{database.connection_string}" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Projections" publicKeyToken="272632bddd08a38b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="justinmckay@responsehub.com.au">
				<network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="justinmckay@responsehub.com.au" password="log68Mod^" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	
</configuration>
