<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- Logging -->
			<register type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" mapTo="Enivate.ResponseHub.Logging.FileLogger, ResponseHub.Logging" />

			<!-- Repository mappings -->
			<register type="Enivate.ResponseHub.DataAccess.Interface.IRepository[], ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoRepository[], ResponseHub.DataAccess">
				<constructor />
			</register>
			<register type="Enivate.ResponseHub.DataAccess.Interface.IPagerMessageRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.PagerMessageRepository, ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.DataAccess.Interface.IMapIndexRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.MapIndexRepository, ResponseHub.DataAccess">
				<constructor>
					<param name="log" type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" />
				</constructor>
			</register>
			<register type="Enivate.ResponseHub.DataAccess.Interface.IDecoderStatusRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.DecoderStatusRepository, ResponseHub.DataAccess">
				<constructor />
			</register>
			<register type="Enivate.ResponseHub.DataAccess.Interface.IAddressRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.AddressRepository, ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.DataAccess.Interface.IJobMessageRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.JobMessageRepository, ResponseHub.DataAccess" />

			<!-- Application service mappings -->
			<register type="Enivate.ResponseHub.Model.Addresses.Interface.IAddressService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.AddressService, ResponseHub.ApplicationServices" />
			<register type="Enivate.ResponseHub.Model.Messages.Interface.IJobMessageService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.JobMessageService, ResponseHub.ApplicationServices" />

		</container>
	</containers>
</unity>
