<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- Application service mappings -->
			<register type="Enivate.ResponseHub.Model.Warnings.Interface.IWarningService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.WarningService, ResponseHub.ApplicationServices" />
			<register type="Enivate.ResponseHub.Model.WeatherData.Interface.IWeatherDataService, ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.WeatherDataService, ResponseHub.ApplicationServices" />

			<!-- Logging -->
			<register type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" mapTo="Enivate.ResponseHub.Logging.FileLogger, ResponseHub.Logging" />

		</container>
	</containers>
</unity>