<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- Repository mappings -->
			<register type="Enivate.ResponseHub.Model.IRepository[], ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoRepository[], ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.Model.Groups.Interface.IGroupRepository, ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.GroupRepository, ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.Model.Identity.Interface.IUserRepository, ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.UserRepository, ResponseHub.DataAccess" />
			
			<!-- Application service mappings -->
			<register type="Enivate.ResponseHub.Model.Groups.Interface.IGroupService, ResponseHub.Model" mapTo="ResponseHub.ApplicationServices.GroupService, ResponseHub.ApplicationServices" />
			<register type="Enivate.ResponseHub.Model.Identity.Interface.IUserService, ResponseHub.Model" mapTo="ResponseHub.ApplicationServices.Identity.UserService, ResponseHub.ApplicationServices" />
			
			<!-- Logging -->
			<register type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" mapTo="Enivate.ResponseHub.Logging.FileLogger, ResponseHub.Logging" />

		</container>
	</containers>
</unity>
