<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- Repository mappings -->
			<register type="Enivate.ResponseHub.Model.IRepository[], Enivate.ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoRepository[], Enivate.ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.Model.Groups.Interface.IGroupRepository, Enivate.ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.GroupRepository, Enivate.ResponseHub.DataAccess" />
			<register type="Enivate.ResponseHub.Model.Identity.Interface.IUserRepository, Enivate.ResponseHub.Model" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.UserRepository, Enivate.ResponseHub.DataAccess" />
			
			<!-- Application service mappings -->
			<register type="Enivate.ResponseHub.Model.Groups.Interface.IGroupService, Enivate.ResponseHub.Model" mapTo="Enivate.ResponseHub.ApplicationServices.GroupService, Enivate.ResponseHub.ApplicationServices" />

		</container>
	</containers>
</unity>
