<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<!-- JobLog ApplicationServices/Repo -->
			<register type="JobCard.Model.JobLog.Interface.IJobLogRepository, JobCard.Model" mapTo="JobCard.Test.Mocks.DataAccess.JobLogRepository, JobCard.Test.Mocks" />
			<register type="JobCard.Model.JobLog.Interface.IJobLogService, JobCard.Model" mapTo="JobCard.ApplicationServices.JobLogService, JobCard.ApplicationServices" />

		</container>
	</containers>
</unity>
