<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
		<section name="warnings" type="Enivate.ResponseHub.Common.Configuration.WarningsConfigurationSection, ResponseHub.Common" allowLocation="true" allowDefinition="Everywhere" />
		<section name="weatherData" type="Enivate.ResponseHub.Common.Configuration.WeatherDataConfigurationSection, ResponseHub.Common" allowLocation="true" allowDefinition="Everywhere" />
		<section name="mailTemplates" type="Enivate.ResponseHub.Mail.Configuration.MailTemplatesConfigurationSection, ResponseHub.Mail" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<unity configSource="Unity.config" />

	<logging logDirectory="~/App_Data/Logs" logLevel="INFO" />

	<warnings cacheDirectory="~/App_Data/Cache/Warnings" cacheDuration="00:05:00">
		<source sourceType="BOM" url="http://www.bom.gov.au/fwo/IDZ00059.warnings_vic.xml" format="rss" />
		<source sourceType="SES" url="http://secure.whispir.com/public/vicses/allregions.rss" format="rss" />
		<source sourceType="CFA" url="https://data.emergency.vic.gov.au/Show?pageId=getCapWarningRSS" format="rss" />
	</warnings>

	<weatherData radarCacheDirectory="~/App_Data/Cache/BoM" radarCacheDuration="00:30:00" radarFtpLocation="ftp://ftp2.bom.gov.au/anon/gen/radar/" observationLocation="http://www.bom.gov.au/fwo/">
		<location name="Laverton" code="laverton" baseRadarProductId="IDR022" rainRadarProductId="IDR022" windRadarProductId="IDR02I" observationId="IDV60801.94865" />
	</weatherData>

	<mailTemplates templatesDir="~/App_Data/EmailTemplates" defaultTo="ResponseHub [info@responsehub.com.au]" defaultFrom="ResponseHub [info@responsehub.com.au]">
		<mailTemplate name="ActivateAccount" subject="Activate your ResponseHub account" baseTemplateFile="base_template.html" templateFile="activate_account.html" />
		<mailTemplate name="UnitCreated" subject="Your unit has been created on ResponseHub" baseTemplateFile="base_template.html" templateFile="unit_created.html" />
		<mailTemplate name="ForgottenPassword" subject="Reset your password at ResponseHub" baseTemplateFile="base_template.html" templateFile="forgotten_password.html" />
		<mailTemplate name="PasswordReset" subject="Your ResponseHub password has been successfully reset" baseTemplateFile="base_template.html" templateFile="password_reset.html" />
		<mailTemplate name="PasswordChanged" subject="Your ResponseHub password has been successfully changed" baseTemplateFile="base_template.html" templateFile="password_changed.html" />
		<mailTemplate name="EmailAddressChanged" subject="Your ResponseHub email address has changed" baseTemplateFile="base_template.html" templateFile="email_address_changed.html" />
	</mailTemplates>

	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub" />
	</connectionStrings>
	<appSettings>

		<!-- No trailing slash -->
		<add key="BaseWebsiteUrl" value="https://dev.responsehub.com.au" />

		<add key="GoogleDirectionsApiKey" value="AIzaSyAINL4GIOJpeie-54HI91xerg6LcMBcWwY" />

		<add key="ClaimIssuer" value="ResponseHub" />

		<add key="ResponseHubService.ApiKey" value="192122ca1c5e46e64f2fa6a9146224bef5148e9f2994a30f5975d1b398f9b327" />

		<add key="BoM.RadarImageFtpLocation" value="" />
		<add key="BoM.CacheDirectory" value="~/App_Data/Cache/BoM" />

		<add key="StaticMapImagesPath" value="~/App_Data/Cache/StaticMapImages" />
		
		<add key="Attachment.MaxFileSize" value="104857600" />
		<add key="Attachment.ThumbnailDirectory" value="~/App_Data/Cache/Attachments" />

		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" maxRequestLength="100000" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="info@responsehub.com.au" deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="justinmckay@responsehub.com.au" password="log68Mod^" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="StackifyHttpModule_Net40" />
			<add name="StackifyHttpModule_Net40" type="StackifyHttpTracer.StackifyHttpModule,StackifyHttpTracer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93c44ce23f2048dd" preCondition="managedHandler,runtimeVersionv4.0" /></modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="font/truetype" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="100000000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="ResponseHub_Cache" cacheMemoryLimitMegabytes="25" physicalMemoryLimitPercentage="30" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>