<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
		<section name="mailTemplates" type="Enivate.ResponseHub.Mail.Configuration.MailTemplatesConfigurationSection, ResponseHub.Mail" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	
	<unity configSource="Unity.config" />

	<logging logDirectory=".\logs" logLevel="INFO" />

	<mailTemplates templatesDir=".\EmailTemplates" defaultTo="ResponseHub [info@responsehub.com.au]" defaultFrom="ResponseHub [justinmckay@responsehub.com.au]">
		<mailTemplate name="InvalidMessageWarning" subject="ResponseHub - Invalid messages warning" baseTemplateFile="base_template.html" templateFile="invalid_message_warning.html" to="juzzbott@gmail.com" />
	</mailTemplates>

	<appSettings>
		<!-- The threshold amount of messages to detect in an hour before an email warning is sent.-->
		<add key="InvalidMessageThreshold" value="10" />
		<add key="AddressParserJsonFile" value="E:\Development\response-hub\src\PagerDecoding\ResponseHub.PagerDecoder.ApplicationServices\address_parser.json" />
	</appSettings>
	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://db-test/response_hub_test" />
	</connectionStrings>

	<system.net>
		<mailSettings>
			<smtp from="justinmckay@responsehub.com.au" deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="justinmckay@responsehub.com.au" password="log68Mod^" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>