<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
		<container>

			<register type="Enivate.ResponseHub.Logging.ILogger, ResponseHub.Logging" mapTo="Enivate.ResponseHub.Logging.FileLogger, ResponseHub.Logging" />
			<register type="Enivate.ResponseHub.DataAccess.Interface.IDecoderStatusRepository, ResponseHub.DataAccess" mapTo="Enivate.ResponseHub.DataAccess.MongoDB.DecoderStatusRepository, ResponseHub.DataAccess" />

		</container>
	</containers>
</unity>
