
@{
	ViewBag.Title = "Reports";
	Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-xs-12">
		<h3 class="btn-icon"><i class="fa fa-fw fa-list-alt text-primary"></i>Operations report</h3>
		<p>Displays a report for operational activites.</p>
		<p>
			<a href="/control-panel/reports/operations-report" class="btn btn-primary">Generate report</a>
		</p>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3 class="btn-icon"><i class="fa fa-fw fa-address-book-o text-primary"></i>Attendance report</h3>
		<p>Displays a report for unit attendance.</p>
		<p>
			<a href="/control-panel/reports/attendance-report" class="btn btn-primary">Generate report</a>
		</p>
		<hr />
	</div>
</div>

<div class="row bottom-10">
	<div class="col-xs-12">
		<h3 class="btn-icon"><i class="fa fa-fw fa-book text-primary"></i>Training report</h3>
		<p>Displays a report for training activites.</p>
		<p>
			<a href="/control-panel/reports/training-report" class="btn btn-primary">Generate report</a>
		</p>
		<hr />
	</div>
</div>

<div class="row bottom-10">
	<div class="col-xs-12">
		<h3 class="btn-icon"><i class="fa fa-fw fa-book text-primary"></i>Training activity report</h3>
		<p>Displays a report for weekly training activites that can be forwared to regional staff for recording.</p>
		<p>
			<a href="/control-panel/reports/training-activity-report" class="btn btn-primary">Generate report</a>
		</p>
		<hr />
	</div>
</div>

<div class="row bottom-10">
	<div class="col-xs-12">
		<h3 class="btn-icon"><i class="fa fa-fw fa-book text-primary"></i>Trainers report</h3>
		<p>Displays a report listing which members trained which training sessions.</p>
		<p>
			<a href="/control-panel/reports/trainers-report" class="btn btn-primary">Generate report</a>
		</p>
	</div>
</div>