@ses-orange: #FF862F;
@rescue-job-bg: #1C60B2;
@storm-job-bg: #00B226;
@assist-agency-job-bg: #E82C0C;

@header-navbar-background: #37474f;

@sidebar-backgroud: #202b30;
@sidebar-foreground: #c8c5ba;
@sidebar-highlight: #e2c498;

button:focus,
button:active {
	outline: none !important;
}

body {
	background: #fafafa;
	padding-top: 50px;
	font-family: 'Ubuntu', sans-serif;
}

.top-5 {
	.margin-top(5px);
}

.top-10 {
	.margin-top(10px);
}

.top-20 {
	.margin-top(20px);
}

.bottom-5 {
	.margin-bottom(5px);
}

.bottom-10 {
	.margin-bottom(10px);
}

.bottom-20 {
	.margin-bottom(20px);
}

/*
	Top navbar styles
*/

.page-navbar {
	background-color: @header-navbar-background;
	border-bottom: 1px solid #4b5960;
	color: #fafafa;

	.navbar-brand,
	.btn-link {
		color: #fafafa;

		&:hover,
		&:focus {
			color: #9cddd7;
		}

	}
}

/* 
	User Menu Styles
*/

.user-menu {
	position: absolute;
    right: 50px;
    padding: 0 10px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 8px;

		.dropdown-toggle {
			font-size: 2em;

			i {
				padding-right: 0;
			}

		}

		.first-name {
			display: none;
		}

		.dropdown-menu {
			min-width: 200px;
			margin-top: 8px;
			border-radius: 0;

			a {
				font-size: 13px;
			}

			i {
				color: #e2c498;
				padding-top: 3px;
			}
		}
}

@media (min-width: 768px) {
	.user-menu {
		right: 0;
		margin-top: 8px;

		.dropdown-toggle {
			font-size: 1em;

			i {
				padding-right: 6px;
			}

		}

		.first-name {
			display: inline;
		}

	}
}

/*
	Sidebar styles
*/

.admin-layout .sidebar {
	display: none;
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px 18px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #202b30;
	border-right: 1px solid #eee;
	color: darken(#fff, 50%);

	p.explore {
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 13px;
	}

	.nav-sidebar {
		margin-right: -18px;
		margin-left: -18px;
	}

	.nav > li > a {
		color: @sidebar-foreground;
		
		i {
			color: #e2c498;
			padding-right: 30px;
			font-size: 1.2em;
			vertical-align: bottom;
		}
	}

	.nav > li > a:hover, 
	.nav > li > a:focus {
		background-color: darken(@sidebar-backgroud, 3%)
	}

}

@media (min-width: 768px) {
	.admin-layout .sidebar {
		display: block;

	}
}

.nav-sidebar {
	a i {
		padding-right: 12px;
	}
}

.icon-link i {
	padding-right: 6px;
}

.admin-layout footer {
	position: fixed;
    bottom: 0;
    z-index: 1200;
    border-top: 1px solid #4b5960;
    background: #37474f;
    color: #efefef;
	width: 25%;
    font-size: 12px;
    padding-top: 5px;
    margin-left: -20px;
    padding-left: 18px;

	p {
		margin-bottom: 6px;
	}
}

@media (min-width: 1200px) {
	.admin-layout footer {
		width: 16.66666667%;
	}
}

.main-content {
	
}

/*
	Form Styles
*/

.form-group {
	label {
		font-weight: normal;
	}
}

.form-control {
	border-radius: 2px;
	border-color: #ddd;
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;

	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-color: #bbb;
	}
}

/*
	Job Log Classes
*/
.btn-new-job {
	padding: 15px;
	font-weight: bold;
	color: #fff;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
	}

	&.start-new-job {
		background-color: @ses-orange;
		border: 1px solid darken(@ses-orange, 20%);
		&:hover {
			background-color: darken(@ses-orange, 10%);
		}
	}

	&.new-rescue-job {
		background-color: @rescue-job-bg;
		border: 1px solid darken(@rescue-job-bg, 20%);
		&:hover {
			background-color: darken(@rescue-job-bg, 10%);
		}
	}

	&.new-storm-job {
		background-color: @storm-job-bg;
		border: 1px solid darken(@storm-job-bg, 20%);
		&:hover {
			background-color: darken(@storm-job-bg, 10%);
		}
	}

	&.new-assist-job {
		background-color: @assist-agency-job-bg;
		border: 1px solid darken(@assist-agency-job-bg, 20%);
		&:hover {
			background-color: darken(@assist-agency-job-bg, 10%);
		}
	}

	i {
		font-size: 1.5em;
		margin-bottom: 5px;
		display: block;
	}
}

#job-title-banner {
	color: #fff;

	.rescue {
		background-color: @rescue-job-bg;
	}

	.storm {
		background-color: @storm-job-bg;
	}

	.assist-agency {
		background-color: @assist-agency-job-bg;
	}

	h2 {
		.margin-bottom(20px);
	}

}

@media screen and (max-width: 769px) {

	#job-title-banner div {
		padding-top: 10px;
		padding-bottom: 10px;

		h2 {
			.top-5;
			.bottom-5;
		}

	}

}

@media screen and (max-width: 350px) {

	#job-intervals .btn-group-lg .btn {
		padding: 6px 12px;
		font-size: 14px;
		border-radius: 4px;
	}

}

#job-notes {
	ul {
		li {
			border-left: 3px solid #D6E3E0;
			border-top: 1px solid lighten(#d6e3e0, 5%);
			border-right: 1px solid lighten(#d6e3e0, 5%);
			border-bottom: 1px solid lighten(#d6e3e0, 5%);
			background-color: #fafafa;
			padding-left: 8px;
			padding-top: 4px;
			padding-bottom: 2px;
			.bottom-10;
			
			small {
				padding-bottom: 4px;
				color: #999;
				display: block;
			}

			.wordback-icon {
				padding-left: 10px;
			}

		}
	}
}

/**
 * Mixins
 */
 
.margin-top(@margin) {
	margin-top: @margin;
}

.margin-bottom(@margin) {
	margin-bottom: @margin;
}
