<p class="explore">Explore</p>

<ul class="nav nav-sidebar">
	<li>
		<a href="/jobs"><i class="fa fa-fw fa-list-alt"></i>Jobs</a>
	</li>
	<li>
		<a href="/messages"><i class="fa fa-fw fa-sticky-note-o"></i>Messages</a>
	</li>
	<li>
		<a href="/events"><i class="fa fa-fw fa-bullhorn"></i>Events</a>
	</li>
	<li>
		<a href="/wallboard"><i class="fa fa-fw fa-desktop"></i>Wallboard view</a>
	</li>
	<li>
		<a href="/weather-centre"><i class="fa fa-fw fa-bolt"></i>Weather centre</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount" ? "active" : "")">
		<a href="/my-account"><i class="fa fa-fw fa-user"></i>My account</a>
		@if (ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount")
		{
		<ul>
			<li>
				<a href="/my-account/update-account">Update account</a>
			</li>
			<li>
				<a href="/my-account/update-email">Update email address</a>
			</li>
			<li>
				<a href="/my-account/change-password">Change password</a>
			</li>
		</ul>
		}
	</li>
</ul>
