<p class="explore">Explore</p>

<ul class="nav nav-sidebar">
	<li>
		<a href="/jobs"><i class="fa fa-fw fa-list-alt"></i>Jobs</a>
	</li>
	<li>
		<a href="/events"><i class="fa fa-fw fa-bullhorn"></i>Events</a>
	</li>
	<li>
		<a href="/wallboard"><i class="fa fa-fw fa-desktop"></i>Wallboard view</a>
	</li>
	<li>
		<a href="/my-account"><i class="fa fa-fw fa-user"></i>My account</a>
	</li>
</ul>
