@model Enivate.ResponseHub.UI.Models.Messages.JobMessageFilter

<div class="filter-container">

	<h3 class="bottom-20 toggle-header">Filter results <a href="#" class="pull-right" data-toggle-id="filter-controls">+</a></h3>

	<div id="filter-controls" class="hidden">
		<form action="@Request.Url.PathAndQuery" method="get">

			<div class="row">
				<div class="col-sm-6">
					
					<div class="form-group">
						<label for="DateStarted">Date from *</label>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
									<input type="text" class="form-control" name="date_from" id="date-from" value="@(Model.DateFrom.HasValue ? Model.DateFrom.Value.ToString("dd/MM/yyyy") : "")" />
									<div class="input-group-addon">
										<i class="fa fa-fw fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="text-muted"><em>Date format should be dd/mm/yyyy.</em></div>
					</div>

				</div>
				<div class="col-sm-6">

					<div class="form-group">
						<label for="DateStarted">Date to *</label>
						<div class="row">
							<div class="col-sm-6">
								<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
									<input type="text" class="form-control" name="date_to" id="date-to" value="@(Model.DateTo.HasValue ? Model.DateTo.Value.ToString("dd/MM/yyyy") : "")" />
									<div class="input-group-addon">
										<i class="fa fa-fw fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="text-muted"><em>Date format should be dd/MM/yyyy.</em></div>
					</div>
					
				</div>
			</div>

			<button type="submit" class="btn btn-primary btn-icon"><i class="fa fa-fw fa-filter"></i>Apply filter</button>

		</form>
	</div>

	@if (Model.FilterApplied)
	{
		<p class="text-info">These results are filtered. <a href="@Request.Url.LocalPath" class="btn btn-link btn-icon"><i class="fa fa-fw fa-times"></i>Clear filter</a></p>
	}

</div>

