@model Enivate.ResponseHub.UI.Models.Wallboard.WallboardViewModel

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - ResponseHub</title>

	@Html.Partial("HeaderIncludes")

</head>
<body class="wallboard-layout">

	<div class="navbar navbar-default navbar-fixed-top page-navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">ResponseHub</a><span class="navbar-subheader">- Wallboard</span>
			</div>
			<div class="">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/wallboard" title="Auto-reload messages"><i class="fa fa-fw fa-refresh"></i></a></li>
					<li><a href="/" title="Exit wallboard view"><i class="fa fa-fw fa-sign-out"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid body-content">

		<div class="row">

			<!-- Left column -->
			<div class="col-sm-4 wallboard-sidebar">

				@Html.Partial("~/Views/Wallboard/MessageList.cshtml", Model)

			</div>
			<!-- END Main Body -->

			<!-- Main Body -->
			<div class="col-sm-8 wallboard-main">
				@RenderBody()
			</div>
			<!-- END Main Body -->

		</div>

	</div>

	<script language="javascript" src="~/assets/js/framework.js"></script>
	<script language="javascript" src="~/assets/js/script.js"></script>

</body>
</html>