<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="logging" type="Enivate.ResponseHub.Logging.Configuration.LoggingConfigurationSection, ResponseHub.Logging" allowLocation="true" allowDefinition="Everywhere" />
		<section name="weatherData" type="Enivate.ResponseHub.Common.Configuration.WeatherDataConfigurationSection, ResponseHub.Common" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>

	<unity configSource="Unity.config" />

	<logging logDirectory="./Logs" logLevel="DEBUG" />

	<weatherData radarCacheDirectory="E:\Development\response-hub\src\ResponseHub.UI\App_Data\Cache\BoM" radarCacheDuration="00:30:00" radarFtpLocation="ftp://ftp2.bom.gov.au/anon/gen/radar/" observationLocation="http://www.bom.gov.au/fwo/">
		<location name="Laverton" code="laverton" baseRadarProductId="IDR022" rainRadarProductId="IDR022" windRadarProductId="IDR02I" observationId="IDV60801.94865" />
	</weatherData>

	<appSettings>
		<add key="ApplicationName" value="ResponseHub WebTasks" />
		<add key="BoMCacheFilesTimeToLive" value="01:30:00" />
	</appSettings>

	<connectionStrings>
		<add name="MongoServer" connectionString="mongodb://localhost/response_hub" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>